[package]
name = "beads-and-threads"
version = "2.0.0"
authors = ["Serge Barinov <bool.rus@gmail.com>"]
edition = "2018"

[dependencies]
iced = {version = '*', features=["svg"]}
iced_native = '*'
iced_wgpu = '*'
quick-csv = "*"
dirs = '*'
colors = { package = 'palette', version = "0.5.0"}
serde = { version = "1.0", features = ["derive"] }
serde_json = '1.0'
fxhash = "0.2.1"
